.form {

    display: flex;
    flex-direction: column;

    & .formContent {
        height: 100%;
        //overflow-y: auto;
    }

    & .formActions {
        position: sticky;
        bottom: 0px;
        background: #fff;
    }

    &.fullHeight {
        height: 100%;
    }

    & > .parameters {
        flex-grow: 2;
    }

    & input:last-child {
        margin-bottom: 0px !important;
    }

    & div.divider {
        margin: 0px 0 10px 0;
    }
}