.wrapper {

    & :global(.ant-upload.ant-upload-btn) {
        padding: 5px 0 !important;
    }

    &.readOnly {
        display: none;
    }


    & .content {
        & :global(.ant-typography) {
            margin-bottom: 0 !important;
        }
    }
}

.file {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;

     & > * {
         display: block;
     }

    &.newFile {
        background: #f6ffed;
        border: 1px solid #d9f7be;
    }

    &.toRemove {
        background: #fff1f0;
        border: 1px solid #ffccc7;
    }
 }