div.inputListWrapper {

    & div.inputListBody {

        max-height: 250px;
        overflow-y: auto;


        & div.list {
            & li.listItem {
                padding: 2px !important;

                & h4 {
                    font-weight: 400 !important;
                }


                &.isNew {
                    background: #f6ffed;
                    border: 1px solid #d9f7be;
                }

                &.toRemove {
                    background: #fff1f0;
                    border: 1px solid #ffccc7;
                }
            }
        }
    }


}


