.select {
    width: 100%;

    & .option {

    }
}

.notFound {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    & > div {
        margin-left: 5px;
    }
}